<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="footer">
    <style>
        .foo {
            width: 100%;
            height: 90px;
            bottom: 0;
            position: fixed;
            border-top: 1px solid #c4c4c4;
            padding-top: 15px;
            color: #808080;
            font-size: 11px;
            background-color: white;
        }
    </style>
    <div class="foo">
        <nav>
            <a href="https://github.com/hyeran0510/bucket_board" target="_blank">Github</a>
        </nav>
        <p>
            <span>저자: 박혜란</span><br />
            <span>이메일: hr9151@naver.com</span><br />
            <span>핸드폰: 010-3373-9151</span>
        </p>
    </div>
</footer>
</html>
